@model List<genie_user_goods>
@{
    int count = 1;    
}
<div class="module-title">
    <Abar sid="@ViewBag.MySid" href="/Index/Index">精灵主页</Abar>&gt;储物箱
</div>
<div class="module-content">    
    <div class="list">
        @foreach (var item in Model)
        {
            <div class="row">
                @Html.Raw(((ViewBag.PageIndex - 1) * ViewBag.PageSize + count).ToString() + ".")
            <Abar sid="@ViewBag.MySid" href="/Goods/Info/@item.goodsId">@item.goodsName</Abar>(@item.count)
        </div>
            count++;
        }
        @if (Model.Count == 0)
        {
            <span>暂无物品.</span>
        }
    </div>
    </div>
</div>
<PageBar page-class="content" page-size="@ViewBag.PageSize" page-Total="@ViewBag.Total" page-Url="@RequestHelper.GetRequestUrl(ViewContext.HttpContext.Request)"></PageBar>
<div style="height:15px"></div>
<Abar sid="@ViewBag.MySid" href="/Index/Index">返回主页</Abar>
<div>
    <Abar sid="@ViewBag.MySid" href="/Index/Index">精灵主页</Abar>&gt;储物箱
</div>