@model List<genie_trial>
@{

}
<style type="text/css">
	table {
		border-collapse: collapse;
		margin: 0 auto;
		text-align: center;
		margin-top: 20px;
	}

		table td, table th {
			border: 1px solid #cad9ea;
			color: #666;
			height: 30px;
		}

		table thead th {
			background-color: #CCE8EB;
			width: 100px;
		}

		table tr:nth-child(odd) {
			background: #fff;
		}

		table tr:nth-child(even) {
			background: #F5FAFA;
		}
</style>
<div>
	<Abar sid="@ViewBag.MySid" href="/Admin/Trial/Edit">添加试炼</Abar>
</div>
<PageMsg sid="@ViewBag.MySid"></PageMsg>
<table width="100%" class="table">
	<thead>
		<tr>
			<th>
				ID
			</th>
			<th>
				名称
			</th>
			<th>
				级别
			</th>
			<th>
				操作
			</th>
		</tr>

	</thead>
	@foreach (var item in Model)
	{
		<tr>
			<td style="width:200px">
				@item.id
			</td>
			<td>
				@item.name
			</td>
			<td>
				@string.Format(">={0}级",item.lev) 
			</td>
			<td style="width:180px">
				<Abar sid="@ViewBag.MySid" href="/Admin/Trial/Edit?id=@item.id">修改</Abar>.
				<Abar sid="@ViewBag.MySid" href="/Admin/Trial/Delete?id=@item.id">删除</Abar>
			</td>
		</tr>
	}
</table>
<div class="clear"></div>
<Abar sid="@ViewBag.MySid" href="/Admin/Index/Index">返回功能菜单</Abar>
