@model List<genie_user_genie>
@{
    int count = 1;
}
<div class="name">
    <img alt="." src="/res/img/qd2.gif" />选择精灵
</div>
<div class="module-content">
    <div class="list">
        @foreach (var item in Model)
        {
            <div class="row">
                @Html.Raw(((ViewBag.PageIndex - 1) * ViewBag.PageSize + count).ToString() + ".")
                <Abar sid="@ViewBag.MySid" href="/Genie/Info?gu=@item.id">@string.Format("{2}({0}级,{1}星)", item.lev, item.start, item.name)</Abar>
                [<Abar sid="@ViewBag.MySid" href="/Team/ChangeOk?num=@ViewBag.Num&guid=@item.id" token-sign="@ViewBag.PageToken">上场</Abar>]
            </div>
            count++;
        }
    </div>
    @if (Model.Count == 0)
    {
        <span>暂无精灵可选?</span>
    }
</div>
<PageBar page-class="content" page-size="@ViewBag.PageSize" page-Total="@ViewBag.Total" page-Url="@RequestHelper.GetRequestUrl(ViewContext.HttpContext.Request)"></PageBar>

<div style="height:15px"></div>
<Abar sid="@ViewBag.MySid" href="/Team/Index">返回编队</Abar>
<br />