<div class="module-title">
	后台管理.<Abar sid="@ViewBag.MySid" href="/Index/Index">返回精灵</Abar>
</div>
<div class="content">
	<div>
		<Abar sid="@ViewBag.MySid" href="/Admin/Goods/Index">物品管理</Abar>.<Abar sid="@ViewBag.MySid" href="/Admin/Mall/Index">商城管理</Abar>
	</div>
	<div>
		<Abar sid="@ViewBag.MySid" href="/Admin/Notice/Index">公告管理</Abar>.<Abar sid="@ViewBag.MySid" href="/Admin/Arena/Index">擂台管理</Abar>
	</div>
	<div>
		<Abar sid="@ViewBag.MySid" href="/Admin/Genie/Index">精灵管理</Abar>.<Abar sid="@ViewBag.MySid" href="/Admin/Trial/Index">试炼管理</Abar>
	</div>
	<div>
		<Abar sid="@ViewBag.MySid" href="/Admin/Monster/Index">怪物管理</Abar>.<Abar sid="@ViewBag.MySid" href="/Admin/Treasure/Index">藏宝阁管理</Abar>
	</div>
	<div>
		<Abar sid="@ViewBag.MySid" href="/Admin/Skill/Index">技能管理</Abar>.<Abar sid="@ViewBag.MySid" href="/Admin/Call/Index">召唤管理</Abar>
	</div>
	<div>
		<Abar sid="@ViewBag.MySid" href="/Admin/Dic/Index">通用配置</Abar>.<Abar sid="@ViewBag.MySid" href="/Admin/ExChange/Index">福利管理</Abar>
	</div>
	
</div>
<div class="clear"></div>
<div class="name">
	辅助操作
</div>
<div class="content">
	<Abar sid="@ViewBag.MySid" href="/Admin/PutProp/Index">奖励发放</Abar>.<Abar sid="@ViewBag.MySid" href="/Admin/Tool/Index">配置工具</Abar>
</div>
<div class="clear"></div>
<div class="name">
	后台设置
</div>
<div>
	<Abar sid="@ViewBag.MySid" href="/Admin/User/Index">账号管理</Abar>
</div>
<div class="clear"></div>
